.grid,
.d-grid,
[class^="grid-"],
[class*=" grid-"] {
  display: grid;
}
.grid-center {
  place-items: center;
}

.flex,
.d-flex,
[class^="flex-"],
[class*=" flex-"] {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-spacer {
  flex: 1 1 auto;
}
