.sozler {
  height: 100%;
}

.guesses-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.6rem;
}

.app-keyboard {
  position: sticky;
  bottom: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;

  width: 100%;
  padding-bottom: 2px;
  background-color: #333;
}
