<div class="sozler flex-column">
  <div class="guesses-row">
    <ng-container *ngFor="let game of games$ | async">
      <app-guesses
        [solution]="game.word"
        [attemptsCount]="(attemptsCount$ | async) || defaultAttemptsCount"
        (wordFoundEvent)="handleWordFound(game)"
      ></app-guesses>
    </ng-container>
  </div>

  <div class="flex-spacer"></div>

  <div class="app-keyboard">
    <app-keyboard (keyboardEvent)="handleKeyboardEvent($event)"></app-keyboard>
  </div>
</div>
