<div *ngFor="let guess of guesses; let row = index" class="guess-grid" [class.incorrect]="incorrectWord">
  <div class="guess-row">
    <div
      *ngFor="let letter of guess; let i = index"
      class="guess-letter"
      [class.current-row]="row === currentRow"
      [class.wrong]="isWrong(row, i)"
      [class.correct]="isCorrect(row, i)"
    >
      {{ letter }}
    </div>
  </div>
</div>

<div class="solution">
  <ng-container *ngIf="isGameOver$ | async">
    <a [href]="wikiLink()" target="_blank"> <mat-icon>auto_stories</mat-icon> {{ solution }} </a>
  </ng-container>
</div>
